
.icon-emo-coffee:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-right-open:before { content: '\e802'; } /* '' */
.icon-facebook-rect:before { content: '\e803'; } /* '' */
.icon-twitter-bird:before { content: '\e804'; } /* '' */
.icon-vkontakte-rect:before { content: '\e805'; } /* '' */